* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1260px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background: linear-gradient(to bottom, #564FCF, #B91598, #EF5170, #FEDA77);
    border: none;
    border-radius: 50%;
}

.instagram {
    position: relative;
    width: 400px;
    height: 400px;
    border: 30px solid rgb(255, 255, 255);
    border-radius: 105px;
}

.ring {
    position: absolute;
    top: 70px;
    left: 70px;
    width: 200px;
    height: 200px;
    border: 30px solid white;
    border-radius: 50%;
}

.instagram::after {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(255, 255, 255);
    border-radius: 50%;
    content: '';
}